<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/concept2.css" />

    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />

    <title>Concept 2: Symmetry</title>
  </head>
  <body>
    <!--Include the navbar using Flask-->
    {% include 'navbar.html' %}

    <div class="container spectral-regular">
      <div class="row">
        <h1 class="examples-header">Example of Symmetry</h1>
      </div>

      <div class="row">
        <div class="col-md-8" id="symmetry-ex1">
          <img src="{{ url_for('static', filename='images/sym-ex3.png') }}" />
        </div>

        <div class="col-md-4">
          <div class="text-bubble">
            Leave equal room on both sides of the bed for equal access and
            harmony for two partners.
          </div>
          <button onclick="window.location.href='/concept2-2'">Prev</button>
          <button
            onclick="window.location.href='/concept2-4'"
            class="btn-next mt-3"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
