#command-ex img {
  max-width: 110%;
  height: auto;
  margin-left: -15%;
}

.text-bubble3 {
  text-align: center;
  padding: 20px;
  margin-top: -10px;
  background-color: #ede2d7ff;
  width: auto;
  height: auto;
  border-radius: 20px;
}

.incorrect-div {
  border: none;
  width: 200px;
  height: 150px;
  margin-top: -80%;
}

.correct-div {
  border: none;
  width: 150px;
  height: 200px;
  margin-top: 60px;
  margin-left: -30%;
}

.bed-img {
  width: 150px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 20px;
}

button {
  font-size: 20px;
  background-color: #cfb7a1ff;
  color: white;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 10px !important;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.prev-btn {
  margin-left: 50%;
}

.next-btn {
  margin-left: 30%;
}

.green-text {
  color: #19676B;
  font-weight: bold;
}

.red-text {
  color: #E06666;
  font-weight: bold;
}