#command-ex img {
  max-width: 100%;
  height: auto;
}

.text-bubble3 {
  text-align: center;
  padding: 20px;
  margin-top: -10px;
  background-color: #ede2d7ff;
  width: auto;
  height: auto;
  border-radius: 20px;
}

.incorrect-div{
  border: 3px dashed #84735e;
  width: 200px;
  height: 150px;
  margin-top: -60%;
  margin-left: -8%;
}

.correct-div{
  border: 3px dashed #84735e;
  width: 150px;
  height: 200px;
  margin-top: 60px
}

.bed-img{
  width: 150px;
  margin-bottom: 50px;
}