/* This is a common style css */

.spectral-regular {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

.examples-header {
  font-size: 32px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.try-button {
  margin-left: 255px;
  padding: 2px 8px;
  background-color: #e06666;
  color: #ffffff;
  border-radius: 5px;
  border-color: transparent;
}

.next-button {
  margin-left: 220px;
  padding: 4px 10px;
  background-color: #19676b;
  color: #ffffff;
  border-radius: 5px;
  border-color: transparent;
}

.row {
  height: 33%;
}

#door {
  margin-top: 15px;
  margin-left: 50px;
  width: 60px;
  height: 120px;
}

#window {
  background-color: #84735eff;
  margin-left: -15px;
  color: white;
  height: 100px;
}

.text-bubble {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ede2d7ff;
  margin-top: 30%;
  width: 100%;
  height: auto;
  border-radius: 20px;
}
