.text-bubble3 {
    text-align: center;
    padding: 20px;
    margin-top: -10px;
    background-color: #ede2d7ff;
    width: auto;
    height: auto;
    border-radius: 20px;
    display: block; /* Ensure this is set to block to allow margin manipulations */
    margin-bottom: 10px; /* Space between the text bubble and buttons */
}

.try-button {
    text-align: center;  
    padding: 10px;
    width: 100px;
    margin-left: 180px
}

.next-button {
    text-align: center;  
    padding: 10px;
    width: 150px;
    margin-left: 130px
}


button {
    font-size: 20px;
    background-color: #cfb7a1ff;
    color: white;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 10px !important; 
    cursor: pointer;
  }
  
  button:hover {
    cursor: pointer;
  }

.green-text {
    color: #19676B;
    font-weight: bold;
}

.red-text {
    color: #E06666;
    font-weight: bold;
}