<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Link to the common CSS file -->
    <link rel="stylesheet" href="../static/css/common.css" />

    <!-- Your existing script and stylesheet links -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/concept1.css" />
    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />

    <title>Feng Shui Achieved</title>
  </head>
  <body>
    <!--Include the navbar using Flask-->
    {% include 'navbar.html' %}

    <div class="container spectral-regular">
      <div class="row">
        <div class="col-md-12 center">
          <p style="margin-bottom: 5px;">You got</p>
          <h3 style="color: darkgreen; font-weight: bold;">_/5 correct</h3>
          <p>on the first try!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 center">
          <img src="{{ url_for('static', filename='images/house-plant.webp') }}" style="width:200px"/>
          <br>
          <p>Here’s a plant as a <b>housewarming gift!</b></p>
        </div>
        <div class="col-md-2"></div>
      </div>

      <div class="row">
        <div class="col-md-3 center d-flex justify-content-end" style="margin-left: 440px">
          <button onclick="window.location.href='/home'" style="white-space: nowrap">Collect and return home</button>
        </div>
      </div>
    </div>
  </body>
</html>