<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/quiz3.js') }}"></script>

    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/quiz3.css" />
    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Spectral&display=swap"
      rel="stylesheet"
    />
    <title>Concept 3: Chi</title>
  </head>
  <body>
    <!--Include the navbar using Flask-->
    {% include 'navbar.html' %}

    <div class="container spectral-regular">
      <div class="row">
        <h1 class="examples-header"
            style="font-size: 25px; margin-left: 40px;margin-bottom: 50px">
            Third, <b>move the mirror</b> to a location that will <b>boost positive chi </b>throughout the room.
        </h1>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <img
              src="{{ url_for('static', filename='images/quiz-chi.png') }}"
              style="width: 600px; margin-left: 5%"
              id="chi-selfcheck"
            />
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="droppable incorrect-div"></div>
            </div>
            <div class="col-md-4">
              <div class="droppable correct-div"></div>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>

        <div class="col-md-4 chi-txt-and-mirror">
          <div class="text-center">
            <img
              src="{{ url_for('static', filename='images/quiz-mirror.png') }}"
              class="draggable"
              id="mirror"
              style="width: 60px; margin-top: 5px; margin-bottom: -50px"
            />
          </div>
          <div class="text-center text-bubble3">
            Drag and drop the mirror to attain the most positive chi.
          </div>
          <button
            id="next-concept-button"
            class="next-button"
            style="display: none; margin-top: 20px; padding: 10px"
          >
            Next Question
          </button>
          <button
            id="try-again-button"
            class="try-button"
            style="display: none; margin-top: 10px; padding: 10px"
          >
            Try again
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
