<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/quiz2.js') }}"></script>

    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/concept2.css" />

    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />

    <title>Concept 2: Symmetry</title>
  </head>
  <body>
    <!-- Include the navbar using Flask -->
    {% include 'navbar.html' %}

    <div class="container spectral-regular">
      <div class="row">
        <h1 class="examples-header"
        style="font-size: 25px; margin-left: 40px; margin-top: 50px; margin-bottom: 50px">
        Second, choose <b>complementary furniture</b> so we have <b>symmetry and balance</b> in the bedroom.
        </h1>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <img
              src="{{ url_for('static', filename='images/quiz-sym.png') }}"
              style="width: 500px; margin-left: 40px"
            />
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="droppable incorrect-div"></div>
            </div>
            <div class="col-md-6">
              <div class="droppable correct-div"></div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-10 text-bubble2"
              style="height: 65px">
              Drag and drop bedside furniture.
            </div>

            <div class="row mt-3">
              <div class="col-md-12">
                <button
                  id="try-again-button"
                  class="try-button"
                  style="display: none"
                >
                  Try again
                </button>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-12">
                <button
                  id="next-concept-button"
                  class="next-button"
                  style="display: none"
                >
                  Next Question
                </button>
              </div>
            </div>

            <div class="col-md-1"></div>
          </div>

          <div class="row mt-4">
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <img
                src="{{ url_for('static', filename='images/quiz-dresser1.png') }}"
                id="sym-options"
                class="img-fluid draggable"
                style="width: 75px; margin-top: 20px"
              />
            </div>
            <div class="col-md-5">
              <img
                src="{{ url_for('static', filename='images/quiz-sym-basket.png') }}"
                id="sym-options"
                class="img-fluid draggable"
                style="width: 75px;  margin-top: 20px"
              />
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <img
                src="{{ url_for('static', filename='images/quiz-dresser2.png') }}"
                id="sym-options"
                class="img-fluid draggable"
                style="width: 75px"
              />
              <div class="col-md-1"></div>
            </div>
            <div class="col-md-5">
              <img
                src="{{ url_for('static', filename='images/quiz-sym-plant.png') }}"
                id="sym-options"
                class="img-fluid draggable"
                style="width: 75px"
              />
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
