<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/quiz4.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/quizScore.js') }}"></script>

    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/quiz4.css" />
    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Spectral&display=swap"
      rel="stylesheet"
    />
    <title>Quiz: Earth Element</title>
  </head>
  <body>
    <!--Include the navbar using Flask-->
    {% include 'navbar.html' %}

    <div class="container spectral-regular">
        <div class="row">
            <h1 class="examples-header"
            style="font-size: 25px; margin-left: 40px; margin-bottom: 50px">
                Fourth, select the <b>best rug</b> to place under the bed.
            </h1>
        </div>

        <div class="row">
            <div class="col-md-3 text-center">
                <img id="polyester-rug" src="{{ url_for('static', filename='images/polyester-rug.png') }}" height="300" width ="240"/>
                <br>
                <p style="margin-top: 20px; font-size: 20px">Polyester Rug</p>
                <button id="select-polyester">Select</button>
            </div>
            <div class="col-md-3 text-center">
                <img id="cotton-rug" src="{{ url_for('static', filename='images/cotton-rug.png') }}" height="300" width ="240" />
                <br>
                <p style="margin-top: 20px; font-size: 20px">Cotton Rug</p>
                <button id="select-cotton">Select</button>
            </div>
            <div class="col-md-3 text-center">
                <img id="fiber-rug" src="{{ url_for('static', filename='images/fiber-rug.png') }}" height="300" width ="240"/>
                <br>
                <p style="margin-top: 20px; font-size: 20px">Plant Fiber Rug</p>
                <button id="select-fiber">Select</button>
            </div>
            <div class="col-md-3" id="feedback-column">
                <div class="text-bubble3" style="display: none;" id="feedback-message"></div>
                <button id="try-again-button" class="try-button" style="display: none;" onclick="location.reload();">Try Again</button>
                <button id="next-question-button" class="next-button" style="display: none;" onclick="window.location.href='quiz5';">Next Question</button>
            </div>                    
        </div>
    </div>
    <script>
      $(document).ready(function() {
        var currentScore = getScore(); // Retrieve the final score
        console.log(currentScore);
      });
    </script>
  </body>
</html>
