<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'homepage.js') }}"
    ></script>

    <link rel="stylesheet" href="../static/css/home.css" />
    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <title>Homepage</title>
  </head>
  <body>
    <!--Include the navbar using Flask-->
    {% include 'navbar.html' %}

    <div class="container">
      <div class="content row homepage-banner"> 
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h1 id="feng-shui-header">Feng Shui</h1>
          <p>Principles for a harmonious bedroom layout!</p>
        </div>
        <div class="col-md-2"></div>
        
      </div>
      <div class="content row">
        <div class="col-md-2"></div>       
        <div class="col-md-8">
          <h3  style="margin-bottom: -30px">Start Learning</h3>
          <div class="row">
            <div class="col-md-12" style="margin-bottom: -100px; margin-left: 10px">
                <button class="learn-button" onclick="window.location.href='/about'">
                  <img src="{{ url_for('static', filename='images/about-home.png') }}" style="width:100px;"/>
                  <br>
                  About</button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4"  style="margin-bottom: -100px; margin-right: 10px">
              <div>
                <button class="learn-button" onclick="window.location.href='/concept1'">
                  <img src="{{ url_for('static', filename='images/command-home.png') }}" style="width:150px;"/>
                  <br>
                  Command Position
                </button>
              </div>
            </div>
            <div class="col-md-4"  style="margin-bottom: -100px; margin-right: 10px">
              <button class="learn-button" onclick="window.location.href='/concept2'">
                <img src="{{ url_for('static', filename='images/symmetry-home.png') }}" style="width:150px;"/>
                <br>
                Symmetry
              </button>
            </div>
            <div class="col-md-2"></div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4"  style="margin-bottom: -100px; margin-right: 10px">
              <button class="learn-button" onclick="window.location.href='/concept3'">
                <img src="{{ url_for('static', filename='images/chi-home.png') }}" style="width:150px;"/>
                <br>
                Chi
              </button>
            </div>
            <div class="col-md-4"  style="margin-bottom: -100px; margin-right: 10px">
              <button class="learn-button" onclick="window.location.href='/concept4'">
                <img src="{{ url_for('static', filename='images/earth-home.png') }}" style="width:125px;"/>
                <br>
                Earth Element
              </button>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
        <div class="col-md-2"></div>
        
        
        
        
        
        
      </div>
    </div>
  </body>
</html>
